.static {
    margin: auto;
    width: 95%;

    text-align: center;
}
.static p {
    font-size: 12pt;
    font-weight: 600;
    margin-bottom: 0px;
    margin-top: 0px;
}
.static span {
    font-size: 20pt;
    font-weight: 700;
    color: rgb(173, 96, 51);
}

.static-container {
    display: flex;
    width: 96%;
    margin-top: 20px;
}
.statics-main {
    width: 84%;

    height: 100%;
    margin: auto;

    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.sidebar {
    width: 300px;
}
.chart {
    height: 50vh;
    text-align: center;
    justify-content: center;
    margin: auto;
    width: 50vh;
}

@media only screen and (max-width: 600px) {
    .statics-main {
        box-shadow: none;
        height: auto;
    }
}
